<div class="searchbox">
  <form (submit)="search()">
    <div class="form-group">
        <mat-form-field class="full-width">
          <input disabled="{{loading}}" name="search" autocomplete="off" autofocus matInput placeholder="Search by SKU (StartsWith)" required [(ngModel)]="query">
          <span matSuffix>
              <button mat-raised-button color="primary"><i class="fa fa-search"></i></button>
          </span>
        </mat-form-field>
        <div *ngIf="loading" class="d-flex justify-content-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
  </form>
</div>
<mat-card *ngIf="transactions && !loading">Total: {{totalEuros|currency:'EUR'}}</mat-card>
<table mat-table [dataSource]="transactions" class="mat-elevation-z8 full-width" *ngIf="transactions && !loading">
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef> SKU </th>
      <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
    </ng-container>
  
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount (In EUROS) </th>
      <td mat-cell *matCellDef="let element"> {{element.amount | currency:'EUR'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Original Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.currency }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-card *ngIf="transactions && !loading">Total: {{totalEuros|currency:'EUR'}}</mat-card>