.main-title {
  letter-spacing: 2px;
}
.panel-wrap {
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  margin-top: 1%;
  padding-bottom: 1%;
}
.panel-title {
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
    padding: 1%;
}
.panel-content {
  padding: 1%;
}