<div class="panel-wrap">
  <div class="panel-title">    
    <h1 class="main-title text-center"> <i class="fa fa-laptop"></i> Hiberus Test</h1>
  </div>
  <div class="panel-content">
    <app-search-box></app-search-box>
  </div>
</div>